<h1>User details</h1>
    <p>Name: <%= @user.name %></p>
<h2>Events created by this user</h2>

<ul>
<% @events.each do |event| %>
  <li>
    <p>Description: <%= event.description %>, Date: <%= event.date %></p>
  </li>
  <% end %>
</ul>
